*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 1010px;
    height: auto;
    margin: 0 auto;
}


#header{
}
.header-img{
    width: 100%;
    height: 160px;
    background-image: url('./images/headerImg.jpg');
}
nav{
    width: 100%;
    height: 40px;
    background-color: rgb(2,78,170);
    text-align: center; 
}
.nav-menu>li{
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}
.nav-menu>li>a{
    color: white;
    text-decoration: none;
    line-height: 40px;
}
.nav-menu>li:hover>a{
    opacity: 0.7;
}
.nav-menu>li:hover .sub-menu{
    display: block;
}
.sub-menu{
    display: none;
    position: absolute;
    background-color: rgb(2,78,170);
    width: 120px;
    z-index: 1;
}
.sub-menu li{
    display: block;
    border-bottom: 1px solid white;
    text-align: left;
    height: 30px;
}
.sub-menu a{
    color: white;
    text-decoration: none;
    line-height: 30px;
    padding-left: 16px;
    display: block;
}
.sub-menu li:hover a{
    color: black;
    background-color: white;
}


article{
    float: left;
    width: 70%;
    height: 500px;
    background-color: aquamarine;
}
.atc-content{
    width: 100%;
    height: auto;
    /* background: url('./images/hinh1.jpg')no-repeat; */
    position: relative;
}
.atc-content img{
    width: 100%;
    height: 100%;

}
.atc-text{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.292);
    color: white;
    padding: 16px;
}
.atc-text a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 7px;
    display: block;
}


aside{
    float: left;
    width: 30%;
    height: 500px;
}
.aside-menu{
    width: 100%;
    height: auto;
}
.aside-menu li{
    border: 1px solid rgb(2,78,170);
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    position:relative;
    list-style: none;
}
.aside-menu li:nth-child(odd){
    background: linear-gradient(to bottom, #0a70c1 , white);
}
.aside-menu li:nth-child(odd) a{
    color: white;
}
.aside-menu li:nth-child(even){
    background-color: white;
}
.aside-menu li:nth-child(even) a{
    color: rgb(2,78,170);
}
.aside-menu li:hover .aside-icon{
    background: url('./images/arrow2.png') no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px
}
.aside-menu li:hover{
    background: rgb(2,78,170);
    cursor: pointer !important;
}
.aside-menu li:hover a{
    color: white !important;
}
.aside-menu li a{
    margin-left: 35px;
    line-height: 38px;
    text-decoration: none;
    font-weight: bold;
}
.aside-icon{
    background: url('./images/arrow1.png') no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px
}



footer{
    width: 100%;
    height: 150px;
    clear: both;
    background-color: aqua;
    text-align: center;
    line-height: 150px;
    font-size: large;
}
